<div class="mt-4">
    <h3>Tours cua toi</h3>

        <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ten tour</th>
                        <th scope="col">Ma tour</th>
                        <th scope="col" colspan="2">Thoi gian</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tours}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td>{{this.matour}}</td>
                        <td>{{this.createdAt}}</td>
                        <td>
                            <a href="/tours/{{this._id}}/edit" class="btn btn-outline-primary">Sua</a>
                            <a href="" class="btn btn-outline-danger">Xoa</a>
                        </td>
                    </tr>
                   {{/each}}
                </tbody>
        </table>

       

</div>